*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
nav{
    position: fixed;
    top: 20px;
    left: 20px;
    display: flex;
    justify-content: flex-start;
}
nav a{
    color: white;
    text-decoration: none;
}


.icono{
    display: block;
    animation: moverIzquierda 1s ease-in;
    z-index: 10000;
}

header{
background: #7F00FF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #E100FF, #7F00FF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #E100FF, #7F00FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
height: auto;
padding: 100px;
width: 100%;
}

.container{
    width: 95%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin:auto;
}
img{
    display: block;
    height: 450px;
    object-fit: cover;
    animation: moverArriba 1s ease-in;
}
.textos{
    width: 50%;
    color: #ffffff;
}

.textos h1{
    font-size: 80px;
    animation: moverIzquierda 1s ease-in;
}
.textos h2{
    font-size: 30px;
    animation: moverIzquierda 1s ease-in;
}
.textos a{
    display: inline-block;
    color: #ffffff;
    font-weight: 300;
    text-decoration: none;
    margin-top: 30px;
    border: 1px solid #ffffff;
    width: 150px;
    border-radius: 3px;
    text-align: center;
    padding: 10px 0;
    animation: moverAbajo 1s ease-in;
}
.wave{
    height: 100px;
    width: 100%;
    background: #7F00FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E100FF, #7F00FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E100FF, #7F00FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
}
.enlaces{
    position: fixed;
    display: flex;
    top:0;
    background: black;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    left: 0;
    flex-direction: column;
    width: 100%;
    transition: all 1s ease ;
    background: #DA22FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #9733EE, #DA22FF);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #9733EE, #DA22FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.uno{
    clip-path: circle(0% at 0 0);
}
.dos{
    clip-path: circle(150% at 0 0);
}
@keyframes moverIzquierda{
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }   
    100%{
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes moverDerecha{
    0%{
        opacity: 0;
        transform: translateX(100px);
    }   
    100%{
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes moverArriba{
    0%{
        opacity: 0;
        transform: translateY(-100px);
    }   
    100%{
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes moverAbajo{
    0%{
        opacity: 0;
        transform: translateY(100px);
    }   
    100%{
        opacity: 1;
        transform: translate(0);
    }
}

